@charset "utf-8";
@import "partials/framework";
@import "partials/variable";
@import "partials/fonts";
@import "partials/icons";
@import "partials/base";


*, p{
  margin: 0;
  padding: 0;
}
a{
  cursor: pointer;
}
:root{
  --main-color:#828282;
}
body{
  font-family: 'Gilroy';
  font-weight: 500;
  h1{
    font-weight: 700;
  }
}

.wrap{
  margin: 0 auto;
  padding: 0 29px;
  position: relative;
}
.navigation{
  position: fixed;
  top: 0;
  left: -999px;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: #FFFFFF;
  z-index: 10;
  padding: 66px 26px;
  transition: left 0.5s linear;
  width: 100%;
  box-sizing: border-box;
  &.open-nav {
    left: 0;
  }
  .language--list {
    position: absolute;
    right: 0;
    bottom: 100px;
    display: flex;
    transform: rotate(90deg);
    li {
      list-style: none;
      padding: 0 5px;
      font-size: 34px;
      line-height: 42px;
      &:first-child {
        border-right: 1px solid var(--main-color);
      }
      a {
        text-decoration: none;
        color: var(--main-color);
        font-weight: 700;
        transition: 0.5s;
        &:hover {
          color: #000000;
          transition: 0.5s;
        }
      }
    }
  }
}
.navigation--list{
  width: 100%;
  .navagation--item{
    list-style: none;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    padding-bottom: 68px;
    a{
      text-decoration: none;
      color: var(--main-color);
      transition: 0.5s;
      &:hover{
        color: #070707;
        transition: 0.5s;
      }
    }
  }
}
.menu--burger{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 30px;
  z-index: 20;
  .line{
    width: 33px;
    height: 4px;
    margin-top: 3px;
    background-color: black;
    transition: all 0.5s linear;
  }
  &.open{
    .line{
      position: absolute;
      right: 0;
      background-color: var(--main-color);
      &:nth-child(2){
        opacity: 0;
      }
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
  }
}
.info--container{
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 83px;
  .info--top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    .name{
      font-size: 47px;
      line-height: 59px;
      max-width: 123px;
      font-weight: 700;
    }
    .profesional{
      padding-top: 23px;
      max-width: 156px;
      font-size: 18px;
      line-height: 22px;
    }
    .language--list{
      transform: rotate(270deg);
      display: none;
      li{
        list-style: none;
        padding: 0 5px;
        &:first-child{
          border-right: 1px solid var(--main-color);
        }
        a{
          text-decoration: none;
          color: var(--main-color);
          font-weight: 700;
          transition: 0.5s;
          &:hover{
            color: #000000;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .info--photo{
    width: 100%;
    background-image: url("../images/BSPP22666.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 487px;
  }
}
.about{
  background-color: #F6F6F6;
  .about--container{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 316px;
    padding: 81px 0 76px 0;
    .about--title{
      padding-bottom: 18px;
      font-size: 34px;
      line-height: 42px;
    }
    .about--text{
      padding-bottom: 40px;
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}
.skills--container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 83px;
  .skills--title{
    padding-bottom: 50px;
    font-size: 34px;
    line-height: 42px;
  }
  .skills--subtitle{
    font-size: 18px;
    line-height: 22px;
  }
  .skills--programs{
    margin-top: 70px;
    padding-bottom: 110px;
    .program{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img{
        padding-bottom: 24px;
      }
      .program--name{
        padding-bottom: 40px;
        font-size: 14px;
        line-height: 17px;
        color: var(--main-color);
        max-width:78px;
      }
      .stars{
        margin-top: auto;
        padding: 0;
      }
    }
  }
}
.portfolio{
  background-color: #F6F6F6;
  .portfolio--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .portfolio--title{
      font-size: 34px;
      line-height: 42px;
      margin-top: 81px;
    }
    .portfolio--examples{
      display: flex;
      flex-direction: column;
      align-items: center;
      .example{
        padding-top: 77px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-child{
          padding-bottom:80px;
        }
        img{
          width: 100%;
        }
        a{
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          padding-top: 33px;
        }
      }
    }
  }
}
.contact{
  &--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 123px;
    .contact--title{
      padding-top: 82px;
      font-size: 34px;
      line-height: 42px;
    }
    .contact--subtitle{
      padding-top:27px;
      padding-bottom: 40px;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #090909;
    }
    .send{
      padding: 12px 97px 12px 97px;
      border: none;
      background: #000000;
      border-radius: 50px;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      font-weight: 700;
      outline: none;
      cursor: pointer;
    }
    .social{
      width: 100%;
      padding-top: 60px;
      padding-bottom:48px;
      display: flex;
      justify-content: space-between;
      max-width: 342px;
    }
    .like{
      color: var(--main-color);
      text-align: center;
    }
  }
}

@media screen and (min-width:(768px)){
  .skills--programs{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .example{
    img{
      width: 710px;
    }
  }
  .info--container{
    .info--photo{
      background-image: url("../images/BSPP2266.jpg");
      min-height: 387px;
      background-position-x: center;
    }
  }
}

@media screen and (min-width:(1024px)){
  .wrap{
    max-width: 940px;
  }
  .navigation{
    position: unset;
    padding: 0;
    .language--list{
      display: none;
    }
  }
  .navigation--list{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 31px;
    border-bottom: 1px solid var(--main-color);
    .navagation--item{
      font-size: 18px;
      padding: 0;
    }
  }
  .menu--burger{
    display: none;
  }
  .info--container{
    .info--top{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .language--list{
        display:flex;
      }
    }
  }
  .about{
    .about--container {
      max-width: 485px;
    }
  }
}


@import "partials/media_min_768";
@import "partials/media_min_1024";
@import "partials/media_min_1280";
@import "partials/media_other";