html {

}


html, body {
  height: 100%;
}

body {
  font-family: Arial, Tahoma, sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  min-width: 320px;
}




