//= template/head.html

<header class="wrap">
    <nav class="navigation">
        <ul class="navigation--list">
            <li class="navagation--item"><a href="#home">Home</a></li>
            <li class="navagation--item"><a href="#about">About me</a></li>
            <li class="navagation--item"><a href="#skills">Skills</a></li>
            <li class="navagation--item"><a href="#portfolio">Portfolio</a></li>
            <li class="navagation--item"><a href="#contact">Contact</a></li>
        </ul>
        <ul class="language--list">
            <li><a href="">RU</a></li>
            <li><a href="">ENG</a></li>
        </ul>
    </nav>
    <div class="menu--burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>
<section id="home" class="info">
    <div class="info--container wrap">
         <div class="info--top">
             <p class="name">Denis Novik</p>
             <p class="profesional">UX | UI designer
                 24 years old, Minsk</p>
             <ul class="language--list">
                 <li><a href="">RU</a></li>
                 <li><a href="">ENG</a></li>
             </ul>
         </div>
         <div class="info--photo"></div>
     </div>
</section>
<section id="about" class="about">
    <div class="about--container wrap">
        <h1 class="about--title">About me</h1>
        <p class="about--text">Hi, I'm Denis – UX/UI designer from Minsk.I'm interested in design and everything connected with it.</p>
        <p class="about--text"> I'm studying at courses "Web and mobile design interfaces" in IT-Academy.</p>
        <p class="about--text"> Ready to implement excellent projects with wonderful people.</p>
    </div>
</section>
<section id="skills" class="skills">
    <div class="skills--container wrap">
        <h1 class="skills--title">Skills</h1>
        <p class="skills--subtitle">I work in such programs as</p>
        <div class="skills--programs">
            <div class="program _photoshop">
                <img src="../images/Group.png" alt="">
                <p class="program--name">Adobe Photoshop</p>
                <img class="stars" src="../images/stars1.png" alt="">
            </div>
            <div class="program _illustrator">
                <img src="../images/Group 2.png" alt="">
                <p class="program--name">Adobe Illustrator</p>
                <img class="stars" src="../images/stars2.png" alt="">
            </div>
            <div class="program _after Effects">
                <img src="../images/Group (1).png" alt="">
                <p class="program--name">Adobe After Effects</p>
                <img class="stars" src="../images/stars3.png" alt="">
            </div>
            <div class="program _figma">
                <img src="../images/Group (2).png" alt="">
                <p class="program--name">Figma</p>
                <img class="stars" src="../images/stars4.png" alt="">
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio">
    <div class="portfolio--container wrap">
        <h1 class="portfolio--title">Portfolio</h1>
        <div class="portfolio--examples">
            <div class="example">
                <img src="../images/Слой%208.jpg" alt="">
                <a class="link--example" target="_blank" href="">Online fashion store - Homepage</a>
            </div>
            <div class="example">
                <img src="../images/reebok_web.jpg" alt="">
                <a class="link--example" target="_blank" href="">Reebok Store - Concept</a>
            </div>
            <div class="example">
                <img src="../images/reebok_web (1).jpg" alt="">
                <a class="link--example" target="_blank" href="">Braun Landing Page - Concept</a>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact">
    <div class="contact--container wrap">
        <h1 class="contact--title">Contacts</h1>
        <p class="contact--subtitle">Want to know more or just chat? You are welcome!</p>
        <button class="send">Send message</button>
        <div class="social">
            <a target="_blank" href="https://www.linkedin.com/"><img src="../images/Group 2 (1).png" alt=""></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../images/Group 8.png" alt=""></a>
            <a target="_blank" href="#"><img src="../images/Group 9.png" alt=""></a>
            <a target="_blank" href="#"><img src="../images/Group 10.png" alt=""></a>
        </div>
        <p class="like">Like me on <br> LinkedIn, Instagram, Behance, Dribble</p>
    </div>
</section>


//= template/footer-content.html
//= template/modals.html
//= template/footer.html


